<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="cadastrar_tarefa.css">
 </head>
 <body>
     
     <nav>
         <a>Cadastrar Tarefa</a>
         <a href="./listartarefa.html">Listar Tarefas</a>                    
     </nav>
 
     <form action="/tarefas/" method="post">
         <div id="main">    
             
             <label for="titulo">Titulo da Tarefa:</label>
             <input type="text" name="titulo">
             
             
             <label for="descricao">Descrição:</label>
             <input type="text" name="descricao">
             
             <button type="submit">Cadastrar tarefa</button>
 
         </div>
     </form>

    
 </body>
 </html>